<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Travel Planner</title>
    </head>

    <body>
        <header>
            <div class="">
          Travel Planner
            </div>
       
        </header>
<div class="container">


        <main>
            <section>
                <form class="form">
                    <input id="name" type="text" name="input" value="" placeholder="Enter Location">
                    <input id="when" type="text" name="input" value="" placeholder="When are you going?">
                    <input type="submit" id="subbutton" name="" value="🛩" onclick="return Client.handleSubmit(event)">
                </form>
            </section>

            <section class="content">
        <div class="result">

        <div id="card1" class="thought">Hello! Great to meet you, I would love to help plan your trip. Fill in where you are going and what date you will arrive and I will give you lots of useful information.</div>
    
        <div class="cards"></div>
</div>
     



            </section>
        </main>
</div>

        <footer>
            <p>Travel Planner Example App</p>
        </footer>
    </body>
<script>
    flatpickr('#when', {});
</script>
</html>
