header {
    display: flex;
    font-size: 2em;
    justify-content: center;
    color: white;
    padding: 10px 40px;
    background-color: rgba($color: #64c0c0, $alpha: 0.6);
    padding: 10px 10px 10px 20px;
}

